@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --primary-color:#2563eb ;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 2rem 0rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.link-secondary {
    color:var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}


